security:
  basic:
    enabled: true
  user:
    name: config
    password: config1
#

spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: system
    password: motive
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    show-sql: false
    
logging:
    file: C:\Users\amercado\logs\serviceUser\serviceUserInfo.log
    destination:
      host: localhost
      port: 512
    pattern:
      console: "%d %-5level %logger : %msg%n"
      file: "%d %-5level [%thread] %logger : %msg%n"
    level:
      org.springframework.web: DEBUG
      guru.springframework.controllers: DEBUG
      org.hibernate: DEBUG
  
server:
  port: 8084

service:
  name: userServices Git update 10
  time:
    session: 102
  #allow.guest: false
  workflow.channel:
  types.services.suppurted: TV, Internet, Mobility, cel
 
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
